:root {
    --elem-radius: 0.25rem;
    --main-padding: 20px;
}

body {
    font-family: "Open Sans", Helvetica;
    background-color: #1b1b1b;
    color: #dddddd;
}

/*
MAIN LAYOUT
*/

html,
body,
.wrapper {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

/*
PHONE LAYOUT
*/
@media (max-width:1024px) {
    .main {
        column-gap: 1em;
        display: flex;
        flex-direction: column;
    }

    .center {
        order: -1;
    }
}

/*
DESKTOP LAYOUT
*/
@media (min-width:1025px) {
    .main {
        column-gap: 1em;
        display: flex;
        flex-direction: row;
    }

    .sidebar-left,
    .sidebar-right {
        flex-basis: 192px;
        flex-grow: 1;
    }

    .center {
        flex-basis: 640px;
        flex-grow: 10;
    }
}

.wrapper {
    row-gap: 1em;
    display: flex;
    flex-direction: column;
}

.center {
    row-gap: 1em;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: var(--main-padding);
}

.sidebar-left,
.sidebar-right {
    overflow: auto;
    row-gap: 1em;
    display: flex;
    flex-direction: column;
    padding: var(--main-padding);
}

/*
HEADER
*/
header {
    padding: 0.5em;
    background-color: #343434;
}

header h1 {

    color: #cdcdcd;
    font-size: 1em;
}

/*
FORM
*/
label {
    text-transform: uppercase;
}

input,
textarea,
#test-strings-output {
    margin: 0px;
    padding: 0.3em;
    font-size: 1rem;
    border-radius: var(--elem-radius);
    color: #dddddd;
    background-color: #343434;
    border: 1px solid #323232;
    line-height: 1.5em;
}

textarea:focus,
input:focus {
    outline: 1px solid #888888;
}

.input-block {
    position: relative;
    width: 100%;
}

.input-block>label {
    margin: 1rem 0 1rem 0;
    clear: both;
    display: block;
}

.input-block>input,
.input-block>textarea {
    width: 100%;
}

/*
TEST STRINGS FORM
*/

/* #test-strings-input, #test-strings-output
    are overlapping elements and should have the same style

    see: https://css-tricks.com/creating-an-editable-textarea-that-supports-syntax-highlighted-code/
*/
#test-strings-input,
#test-strings-output {
    height: 20rem;
    width: 100%;
    resize: none;
    position: absolute;
    overflow: auto;
    white-space: pre-wrap;
}

/* The input is made invisible except for the caret.
    The user should only see #test-strings-output
*/
#test-strings-input {
    color: transparent;
    background: transparent;
    caret-color: white;
    /* Or choose your favorite color */
}


/*
Empty container that fills up space in flexbox
*/
.test-strings-input-container-space {
    height: 20rem;
}

/*
When the user clicks on the input/output. The focus should go to textarea.
#test-strings-input therefor should have an higher z-index
*/
#test-strings-input {
    z-index: 1;
}

#test-strings-output {
    z-index: 0;
}